[submodule "05_Tanstack_assignment"]
	path = 05_Tanstack_assignment
	url = git@github.com:pooja-purohit-systango/Tanstack-assignment
[submodule "RA-2"]
	path = RA-2
	url = git@github.com:pooja-purohit-systango/useRef-and-debug
[submodule "02_Displaying_userData_with_toggle_theme"]
	path = 02_Displaying_userData_with_toggle_theme
	url = git@github.com:pooja-purohit-systango/Toggle_theme
[submodule "01_Typescript_CRUD"]
	path = 01_Typescript_CRUD
	url = git@github.com:pooja-purohit-systango/Typescript_CRUD
