[submodule "05_Tanstack_assignment"]
	path = 05_Tanstack_assignment
	url = git@github.com:pooja-purohit-systango/Tanstack-assignment
[submodule "RA-2"]
	path = RA-2
	url = git@github.com:pooja-purohit-systango/useRef-and-debug
[submodule "02_Displaying_userData_with_toggle_theme"]
	path = 02_Displaying_userData_with_toggle_theme
	url = git@github.com:pooja-purohit-systango/Toggle_theme
[submodule "01_Typescript_CRUD"]
	path = 01_Typescript_CRUD
	url = git@github.com:pooja-purohit-systango/Typescript_CRUD
[submodule "useRef-and-debug"]
	path = useRef-and-debug
	url = git@github.com:pooja-purohit-systango/useRef-and-debug
[submodule "04_axios_interceptors"]
	path = 04_axios_interceptors
	url = git@github.com:pooja-purohit-systango/04_axios_interceptors/04_axios_interceptors
[submodule "04_axios_interceptor"]
	path = 04_axios_interceptor
	url = git@github.com:pooja-purohit-systango/04_axios_interceptor
[submodule "06_Weekend_assignment"]
	path = 06_Weekend_assignment
	url = git@github.com:pooja-purohit-systango/06_Weekend_assignment
[submodule "09_useMemo_assignment"]
	path = 09_useMemo_assignment
	url = git@github.com:pooja-purohit-systango/09_useMemo_assignment
[submodule "09_useMemo_Assignment"]
	path = 09_useMemo_Assignment
	url = git@github.com:pooja-purohit-systango/09_useMemo_Assignment
[submodule "10_useCallback_assignment"]
	path = 10_useCallback_assignment
	url = git@github.com:pooja-purohit-systango/10_useCallback_assignment
[submodule "11_React.Lazy_assignment"]
	path = 11_React.Lazy_assignment
	url = git@github.com:pooja-purohit-systango/11_React.Lazy_assignment
